html{
    background-color: rgb(240, 238, 238);
}
div {
    width: 251px;              
    margin: 85px auto;       
    padding: 20px;
    border: 20px solid black;
    border-radius: 5px;
    background-color: bisque;
}

#counter{
     font-family: 'Georgia', serif;
    font-weight: bold;
    color:crimson;
}
h1{
    margin-left:20px;
     font-family: 'Georgia', serif;
    font-weight: bold;
    color:crimson;
}

button {
    border: 2.5px solid crimson; 
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:18px;
    padding: 10px 15px;
    background: black;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #4a4747;
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}


h2{
     
   
    
    color:green;
}




